In [1]:
import pandas as pd
import plotly.express as px


df = pd.read_csv("final.csv")

purchase_subset = df[df['event_type'] == 'purchase']

# bar graph Top 5 brands dataset

brand_counts = purchase_subset['brand'].value_counts().reset_index()
brand_counts.columns = ['brand', 'count']
brand_counts = brand_counts.head(5)


fig = px.bar(brand_counts,x='brand', y='count',title='Top brands')
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
purchase_subset

In [ ]:
# bar graph of top categories

top_categories =purchase_subset['category_code'].value_counts().head(5).reset_index()
top_categories.columns = ['category','count']

fig  = px.bar(top_categories,x='category',y='count',title='Top category')
fig.show()

In [ ]:
# event counts
eventCount  = df['event_type'].value_counts().reset_index()
eventCount.columns = ['events','count']
eventCount

In [12]:
# Line chart for apple and huawei 
apple_purchase = purchase_subset[purchase_subset ['brand']=='apple']
apple_purchase = apple_purchase.drop(['date'],axis=1)
start_date = '06-09-2022'
end_date = pd.to_datetime('today')  # Use today's date as the end date
date_range = pd.date_range(start=start_date, end=end_date)

# Assign the date range to the 'date' column in the DataFrame
apple_purchase['date'] = date_range[:len(apple_purchase)]
apple_purchase = apple_purchase[['brand','date','price']]
apple_purchase
# fig apple_sale = px.line(apple_purchase, x="date", y="price")

       brand       date    price
197    apple 2022-06-09   642.69
339    apple 2022-06-10   189.91
352    apple 2022-06-11   161.98
362    apple 2022-06-12   515.67
430    apple 2022-06-13   171.56
...      ...        ...      ...
60698  apple 2023-03-28   957.53
61270  apple 2023-03-29   161.93
61322  apple 2023-03-30   161.93
61781  apple 2023-03-31  1413.16
61961  apple 2023-04-01   311.84

[297 rows x 3 columns]

In [11]:
# Line chart for apple and huawei 
huawei_purchase = purchase_subset[purchase_subset ['brand']=='huawei']
huawei_purchase = huawei_purchase.drop(['date'],axis=1)
start_date = '06-09-2022'
end_date = pd.to_datetime('today')  # Use today's date as the end date
date_range = pd.date_range(start=start_date, end=end_date)

# Assign the date range to the 'date' column in the DataFrame
huawei_purchase['date'] = date_range[:len(huawei_purchase)]
huawei_purchase = huawei_purchase[['brand','date','price']]
# fig_applesale = px.line(apple_purchase, x="date", y="price")
# fig_huaweisale = px.line(huawei_purchase, x="date", y="price")
huawei_purchase

        brand       date   price
1778   huawei 2022-06-09  111.82
2862   huawei 2022-06-10  177.20
4703   huawei 2022-06-11  258.21
5601   huawei 2022-06-12  124.84
8635   huawei 2022-06-13  130.65
8762   huawei 2022-06-14  694.48
8950   huawei 2022-06-15  159.77
10829  huawei 2022-06-16  159.77
12698  huawei 2022-06-17  130.95
13505  huawei 2022-06-18  111.82
14361  huawei 2022-06-19  243.25
16815  huawei 2022-06-20  278.54
19403  huawei 2022-06-21  963.27
21734  huawei 2022-06-22  111.79
22031  huawei 2022-06-23  676.89
22265  huawei 2022-06-24  278.54
24508  huawei 2022-06-25  609.72
25755  huawei 2022-06-26  278.54
26455  huawei 2022-06-27  257.12
26486  huawei 2022-06-28  124.84
26806  huawei 2022-06-29  243.25
28794  huawei 2022-06-30  278.24
28939  huawei 2022-07-01  155.71
30084  huawei 2022-07-02  278.54
30810  huawei 2022-07-03  243.25
30856  huawei 2022-07-04  278.54
32383  huawei 2022-07-05  243.25
34318  huawei 2022-07-06  175.83
35452  huawei 2022-07-07  159.69
38275  huawei 2022-07-08  278.24
38372  huawei 2022-07-09  278.24
38744  huawei 2022-07-10  111.79
38965  huawei 2022-07-11  159.69
39465  huawei 2022-07-12  694.48
40103  huawei 2022-07-13  155.71
40973  huawei 2022-07-14  177.44
41627  huawei 2022-07-15   41.16
41842  huawei 2022-07-16  177.44
41938  huawei 2022-07-17  175.83
44686  huawei 2022-07-18  278.54
49077  huawei 2022-07-19  159.69
49229  huawei 2022-07-20  110.34
50566  huawei 2022-07-21  110.24
51045  huawei 2022-07-22  177.44
51575  huawei 2022-07-23  182.99
51964  huawei 2022-07-24  676.89
52442  huawei 2022-07-25  159.69
53399  huawei 2022-07-26  258.18
53406  huawei 2022-07-27  278.54
53650  huawei 2022-07-28  130.62
54207  huawei 2022-07-29  167.03
55427  huawei 2022-07-30  159.69
55827  huawei 2022-07-31  177.44
55906  huawei 2022-08-01  177.44
56235  huawei 2022-08-02  278.54
57361  huawei 2022-08-03  175.83
59790  huawei 2022-08-04  182.99
61047  huawei 2022-08-05  243.25
61797  huawei 2022-08-06  149.30
61978  huawei 2022-08-07  110.34

In [13]:
farme = [apple_purchase, huawei_purchase]
result = pd.concat(farme)
result
# resultfig = px.line(result, x="date", y="price")

        brand       date   price
197     apple 2022-06-09  642.69
339     apple 2022-06-10  189.91
352     apple 2022-06-11  161.98
362     apple 2022-06-12  515.67
430     apple 2022-06-13  171.56
...       ...        ...     ...
57361  huawei 2022-08-03  175.83
59790  huawei 2022-08-04  182.99
61047  huawei 2022-08-05  243.25
61797  huawei 2022-08-06  149.30
61978  huawei 2022-08-07  110.34

[357 rows x 3 columns]

In [14]:
purchase_subset

,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,date,time
111,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,2019-10-01,00:02:14
197,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,2019-10-01,00:04:37
268,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,2019-10-01,00:07:07
339,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,2019-10-01,00:09:26
352,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,2019-10-01,00:09:54
...,...,...,...,...,...,...,...,...,...,...
61800,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,254.76,552268757,2c8a1bd9-f49e-4300-b1bd-7f1636f7f5cf,2019-10-01,04:28:07
61923,purchase,1004872,2053013555631882655,electronics.smartphone,samsung,286.35,518674655,a7077991-833d-484c-a081-395620df9c5b,2019-10-01,04:28:22
61958,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,522114084,f28ecda4-c118-4c51-9f7f-2b1b84b11975,2019-10-01,04:28:25
61961,purchase,5100337,2053013553341792533,electronics.clocks,apple,311.84,516278990,acefd607-1a24-496c-a4b8-7e9097a71ddf,2019-10-01,04:28:25
61978,purchase,1004904,2053013555631882655,electronics.smartphone,huawei,110.34,536561197,65ca1cea-cf63-4533-9981-78c06fc5b45d,2019-10-01,04:28:26

In [31]:
# line graph for sales
sales_data = purchase_subset.drop(['date'],axis=1)
# start_date = '06-09-2005'
# end_date = pd.to_datetime('today')  # Use today's date as the end date
# date_range = pd.date_range(start=start_date, end=end_date)
# sales_data['date'] = date_range[:len(sales_data)]
# sales_data = purchase_subset[['brand','date','price']]
# # sales_data


sales_data = sales_data.groupby('brand')['price'].sum()
sales_data = pd.DataFrame({'brand':sales_data.index, 'sales':sales_data.values}) 
start_date = '06-09-2022'
end_date = pd.to_datetime('today')  # Use today's date as the end date
date_range = pd.date_range(start=start_date, end=end_date)
sales_data['date'] = date_range[:len(sales_data)]
sales_data
# sales_data = purchase_subset[['brand','date','price']]
fig_sales = px.line(sales_data, x="date", y="sales")

         brand     sales       date
0         acer   6179.66 2022-06-09
1       aimoto     55.32 2022-06-10
2      almacom     43.76 2022-06-11
3      alphard    101.68 2022-06-12
4       alteco     71.56 2022-06-13
..         ...       ...        ...
125  wingoffly    118.27 2022-10-12
126     xiaomi  18491.10 2022-10-13
127     yamaha    148.88 2022-10-14
128      yasin    102.71 2022-10-15
129       zeta    149.14 2022-10-16

[130 rows x 3 columns]